{% extends 'base.html.twig' %}

{% block body %}

<section id="Atelier">
  <div class="container">

        <h1 class="titre">Liste des ateliers</h1>
        <table class="table">
               <thead class="thead-inverse">
               <tr>
                   <th>Nom de l'atelier</th>
                   <th>Equipements</th>
                   <th>Ingrédients</th>
                   <th>Tarif</th>
                   
               </tr>
               </thead>
               <tbody>

{% for atelier in atelier %}


<tr>


    <td>{{ atelier.nom }}</td>

    <td>{{ atelier.equipements }}</td>

    <td>{{ atelier.ingredients }}</td>

    <td>{{ atelier.tarif}}</td>


  <td><a href= "{{ path ('participation_new' ,{'id': atelier.id}) }}"><button class="button is-turquoise" id ="envoyer" type="submit" >Participer</button> </a></td>
       </div>


    <td><a href= "{{ path ('atelier_edit' ,{'id': atelier.id}) }}"><button class="button is-grapefruit" id ="envoyer" type="submit" >Modifier</button>
</a></td>

    <td><a href= "{{ path ('atelier_delete' ,{'id': atelier.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

</tr>


{% endfor %}

</tbody>
</table>
</div>
</div>

</section>
{% endblock %}
